/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/pail
/vendor
.env
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
composer.lock
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/bootstrap/cache/*
!bootstrap/cache/.gitignore
.DS_Store
Thumbs.db
